# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# Virtual environments
backenv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node / Next.js
node_modules/
.next/
out/

# Logs
*.log